<!--The content below is only a placeholder and can be replaced.-->
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <!-- <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field> -->
    <button style="margin-left:5%" mat-raised-button (click)="openDialog()">Add Customer</button>
  </div>
  
  <mat-table #table [dataSource]="dataSource" matSort>

  

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- address Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header> address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
    </ng-container>

    <!-- city Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> city </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
    </ng-container>

      <!-- zip Column -->
      <ng-container matColumnDef="zip">
        <mat-header-cell *matHeaderCellDef mat-sort-header> zip </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.zip}} </mat-cell>
      </ng-container>
        <!-- country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header> country </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
    </ng-container>
      <!-- phone Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header> phone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
      </ng-container>
        <!-- email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

  

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
  </mat-table>
  <mat-paginator #paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]" >
</mat-paginator>
<!-- [showFirstLastButtons]="true" -->
</div>

