/* Structure */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.example-container {
    display: block;
  
    min-width: 300px;
  }
  .example-header[_ngcontent-c9] {   
    padding: 8px 5px 0 !important;
}
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    border: 2px inset #EBE9ED !important;
  }
  
  .mat-table {
    overflow: hidden;
    max-height: 500px;
    z-index:-99999;
  }
  .mat-sort-header-container {
    align-items: center;
  }
  body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
  .basic-container {
    padding: 5px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  
  .right{
    text-align: right;
}
.chatbox{
    width:250px;
    height:250px;
    border: 1px solid #ccc;
    padding: 16px;
}
.messages{
    height:210px;
    overflow: auto;
}
.input-container{
    height: 30px;
    margin-left: -16px;
    margin-right: -16px;
    vertical-align: middle;
    padding-top: 10px;
    border-top:1px solid #ccc;
}
.input-container .inputtext{
    width:calc(100% - 100px);
}
.input-container button{
    width: 90px;
}
.CustomChatBox{
    display: none;
  }
  .mat-snack-bar-container.mat-snack-bar-center
  {
    background-color: red !important;
    color: white !important;
  }
  .customsnackbar{
    background-color: red !important;
    color: white !important;
    padding: 10px !important;
  }

  

.input-container[_ngcontent-c9] {
    height: auto;
    background: #ddd;
    margin:0;
    vertical-align: middle;
    padding:5px;
    border-top: 1px solid #ccc; display: inline-block; width:100%; box-sizing:border-box;
}
.chatbox[_ngcontent-c9]{padding:0px 0 }
.chat-box-header {
  background: #3b5998; height: 30px;
}

.input-container[_ngcontent-c9] button[_ngcontent-c9] {
  background: #3b5998;
  color: #fff;
  width: auto;
  padding: 0 15px;
  min-width: inherit; box-shadow:inherit;
}


.input-container input[type="text"] {
  height: 37px;
  min-width: 169px;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 0 6px;
  box-sizing: border-box;
}
.chatbox[_ngcontent-c9]{height: auto}
.chatbox[_ngcontent-c9][_ngcontent-c9][_ngcontent-c9] {
  right: 10px;
  z-index: 999;
  background: #fff;
  position:absolute; bottom:0;padding:0;     box-shadow: 0 0 3px 1px #ddd;
}
.messages{padding:3px 5px }

