<!--The content below is only a placeholder and can be replaced.-->
<div class="example-container mat-elevation-z2">
  <!--<div class="example-header">
     <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <button style="margin-left:5%" mat-raised-button (click)="openDialog()">Add Customer</button>
  </div> -->
  
  <mat-table #table [dataSource]="dataSource" matSort>

   <!-- Name Column -->
   <ng-container matColumnDef="message">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
    <mat-cell *matCellDef="let element"> <div class="example-header">       
      <button  mat-raised-button (click)="SendMessage(element)">Message</button>
    </div> </mat-cell>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- address Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
    </ng-container>

    <!-- city Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
    </ng-container>

      <!-- zip Column -->
      <ng-container matColumnDef="zip">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Zip </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.zip}} </mat-cell>
      </ng-container>
        <!-- country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
    </ng-container>
      <!-- phone Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
      </ng-container>
        <!-- email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container style="width:300px" matColumnDef="actionsColumn">
      <mat-header-cell  *matHeaderCellDef>
        <div class="example-header">       
          <button  mat-raised-button (click)="openDialog()">Add Customer</button>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
          <div class="example-header" style="width:300px">
          <button style="display:inline-block;min-width:60px"  mat-raised-button (click)="openDialog(row)">Edit</button>
          <button style="display:inline-block;min-width:60px"   mat-raised-button (click)="cancelOrDelete(row.id)">Delete</button>
          </div>
      </mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
  </mat-table>
  <mat-paginator #paginator [length]="arrayLength"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]" >
</mat-paginator>
<!-- [showFirstLastButtons]="true" -->
</div>
<!-- <app-chatbox style="float:right;"></app-chatbox> -->
<div class="chatbox CustomChatBox" id='CustomChatBox'>
  <div class="chat-box-header" style="color: white;padding:5px 5px 0px 5px">{{customerName}}</div>
  <div class="messages">
  
  <div *ngFor="let message of MessageModel" [class.right]="message.self">
    {{message.text}}
  </div>
  
  </div>
  <div class="input-container">
  <input type="text" class="inputtext" [(ngModel)]="replyMessage">
  <button mat-raised-button  (click)="reply()">Send</button>
  </div>
  </div>
